<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<div id="timeline" style="height: 180px;"></div>


<script type="text/javascript">
  google.charts.load("current", {packages:["timeline"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
  
     var container = document.getElementById('timeline');
    var chart = new google.visualization.Timeline(container);
    var dataTable = new google.visualization.DataTable();
    dataTable.addColumn({ type: 'string', id: 'Room' });
    dataTable.addColumn({ type: 'string', id: 'Name' });
    dataTable.addColumn({ type: 'date', id: 'Start' });
    dataTable.addColumn({ type: 'date', id: 'End' });

	
	$.ajax('/resumes/listar_horarios.json',   // request url
			{            
				success: function (data) {    // success callback function
						 //console.log(data.bandas.length);
						 linha = [];

						 for(i=0; i< data.bandas.length; i++){
							//console.log(data.bandas[i]);
							//dataTable.addRows([ [ data.bandas[i].palco, data.bandas[i].banda, new Date(), new Date() ]]);
							//console.log(new Date(data.bandas[i].dataInicio));
							linha.push([data.bandas[i].palco, data.bandas[i].banda, new Date(data.bandas[i].dataInicio), new Date(data.bandas[i].dataFim) ]);
						 }
						 console.log(linha);
						dataTable.addRows(linha); 
						
						var options = {
						  timeline: { colorByRowLabel: true },
							height: 700
							
						};

						chart.draw(dataTable, options);						 
				}
			});
  


    
  }

</script>
	   
	   
