<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<div id="timeline" style="height: 180px;"></div>


<script type="text/javascript">
  google.charts.load("current", {packages:["timeline"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
  
    var container = document.getElementById('timeline');
    var chart = new google.visualization.Timeline(container);
    var dataTable = new google.visualization.DataTable();
    
  dataTable.addColumn({ type: 'string', id: 'Role' });
  dataTable.addColumn({ type: 'string', id: 'Name' });
  dataTable.addColumn({ type: 'string', role: 'style' });
  dataTable.addColumn({ type: 'date', id: 'Start' });
  dataTable.addColumn({ type: 'date', id: 'End' });

	
	$.ajax('/resumes/listar_horarios.json',   // request url
			{            
				success: function (data) {    // success callback function
					linha = [];
					
					for(i=0; i< data.bandas.length; i++){
					
						cor = '';
					
						if(data.bandas[i].dia == 3){
							cor = 'red';
						}else if(data.bandas[i].dia == 4){
							cor = 'blue';
						}else if(data.bandas[i].dia == 5){
							cor = 'yellow';
						}else if(data.bandas[i].dia == 6){
							cor = 'green';
						}
					
						linha.push([data.bandas[i].palco, data.bandas[i].banda,cor, new Date(data.bandas[i].dataInicio), new Date(data.bandas[i].dataFim) ]);
					}
					
					dataTable.addRows(linha); 
					

						var options = {
						  timeline: { colorByRowLabel: true },
							height: 500
							
						};

						chart.draw(dataTable, options);

				}
			});
  


    
  }

</script>
	   
	   
